/* zoom.css */
.zoom-image {
    animation: zoomInOut 2s infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.5); /* Zoomed in */
    }
}
